.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search__icon {
    margin-right: 12px;
    color: #ccc;
}

.search__input {
    flex: 1;
    height: 36px;
    display: flex;
    outline: none;
    border: 0px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
}

.search__dropdown {
    top: 52px;
    width: 75%;
    max-height: 220px; 
    z-index 999;
    display: flex;
    border-radius: 5px;
    position: absolute;
    background-color: white;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}

.search__dropdown__loading {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__dropdown__item {
    padding: 12px 12px;
    cursor: pointer;
    text-decoration: none;
}

.search__dropdown__item:hover {
    background-color: #5DC7D1;
}

.search__dropdown__item__title {
    font-size: 16px;
    color: black;
    margin: 6px 0px !important;
}

.search__dropdown__item__subtitle {
    color: #555;
    font-style: italic;
    margin: 6px 0px !important;    
}