body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.container {
    flex: 1;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    background-color: rgb(244,244,252);
}

.content {
    flex: 4;
    display: flex;
    overflow-y: scroll;
    padding: 16px 22px;
    flex-direction: column;
    background-color: rgb(244,244,252);
}